.card.col-12
  .card-body
    = simple_form_for([shop]) do |f|
      = render 'fields', form: f

      .row
        .col-12.text-center
          = f.button :submit, t('shared.action.save'), class: 'btn btn-success'
